#puzzle-board {
    /*width: 500px;*/
}

#puzzle-board table {
    border-spacing: 0;
}

#puzzle-board td {
    padding: 0;
}

.board-group {
    border-spacing: 0;
}

.board-cell {
    width: 50px;
    height: 50px;

    position: relative;

    border: 1px solid black;
}

.board-group-a .board-cell {
    background-color: #bce3fc;
}

.board-group-b .board-cell {
    background-color: #e0cdb8;
}

.board-cell .cell-liner {
    height: 100%;
    width: 100%;

    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.board-cell .cell-liner span, input {    
    width: 100%;

    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;

    text-align: center;

    font-family: sans-serif, Segoe UI, Arial;
    font-size: 26px;
}

.board-cell .cell-liner span {
    font-weight: 700;
}

.board-cell .cell-liner span:hover {
    cursor: default;
}

.board-cell .cell-liner input {
    height: 100%;
}

.board-cell .cell-liner input:hover {
    background-color: #a3b8d7;
}

/*Successful solutions and inputs should look alike */
.board-cell .cell-liner input, span.value-overlay {
    font-weight: 200 !important;
}
